<div class="card border-primary mb-3 container">
  <div class="card-header">We are here to serve you</div>
  <div class="card-body">
    <h4 class="card-title">Loan Application</h4>
    <form (ngSubmit)="submit()">
      <div class="form-group">
        <label for="exampleFormControlInput1">Name</label>
        <input type="text" class="form-control"name="name" [(ngModel)]="clientName" placeholder="type your name" />
      </div>
      <br />
      
      <div class="form-group">
        <label for="exampleFormControlInput1">CIN</label>
        <input type="text" class="form-control"name="cin"[(ngModel)]="cin" placeholder="type your cin" />
      </div>
      <br />
      <div class="form-group">
        <label for="exampleFormControlInput1">Loan amount (USD)</label>
        <input type="text" class="form-control"name="loanamount"[(ngModel)]="loanAmount" placeholder="type your cin" />
      </div>
      <br />
      <div class="form-group">
        <label for="exampleFormControlInput1">Salary (USD)</label>
        <input
          type="text"
          class="form-control"
          name="salary"
          [(ngModel)]="salary"
          placeholder="type your salary"
        />
      </div>
      <br /> 
      <div class="text-center"> 
        <input class="form-control" type="file" /> 
      </div>
 
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Send Application</button>
      </div>
    </form>
    <div class="alert alert-danger" *ngIf="response">
      {{ response }}
    </div>
  </div>
</div>
